{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'converter/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'converter/css/drop-frame.css' %}">
{% endblock %}


{% block content %}

<section>
  <h1>Converter Index</h1>
  <div id="drop-frame"></div>
  <span id="btn-download">Download Model</span>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'converter/js/drop-frame.js' %}"></script>
<script src="{% static 'converter/js/downloader.js' %}"></script>

<script>
  const dragDropFile = new DragDropFile("drop-frame");
  dragDropFile.setDropCallback(onDropFileLoaded);

  dragDropFile.dropContent.innerHTML += `{% include "converter/box_file.html" with id="box-file-h5" type="H5" %}`;
  dragDropFile.dropContent.innerHTML += `{% include "converter/box_file.html" with id="box-file-json" type="JSON" %}`;
  
  const boxFileH5 = document.getElementById("box-file-h5");
  const boxFileJson = document.getElementById("box-file-json");

  function onDropFileLoaded(fileFormat, fileData) {
    // console.log("DROPPED", fileFormat, fileData);
    switch (fileFormat) {
      case "h5":
        boxFileH5.innerHTML = "H5 Loaded";
        break;
      case "json":
        boxFileJson.innerHTML = "JSON Loaded";
        break;
    }
  }

</script>
{% endblock %}