{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'converter/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'converter/css/drop-frame.css' %}">
{% endblock %}

{% block content %}

<section>
  <form id="form-converter" method="post" enctype="Multipart/form-data">
    {% csrf_token %}
    <input type="file" name="fileH5" required hidden>
    <input type="file" name="fileJson" hidden>
    <label>Convert Keras Model to</label>
    <select name="lang">
      <option value="0">Python</option>
      <option value="1">JavaScript</option>
    </select>
  </form>
  
  <div id="drop-frame"></div>

  <div class="box-tools">
    <span id="btn-convert" class="btn-primary">Convert Model</span>
    <a id="btn-download" class="btn-primary">Download Model</a>
    <span id="btn-restart" class="btn-primary">Restart</span>
  </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'converter/js/drop-frame.js' %}"></script>
<script src="{% static 'converter/js/downloader.js' %}"></script>
<script src="{% static 'converter/js/callbacks.js' %}"></script>
<script src="{% static 'converter/js/box-tools.js' %}"></script>
<script src="{% static 'converter/js/box-file.js' %}"></script>
<script src="{% static 'converter/js/requests.js' %}"></script>
<script src="{% static 'converter/js/form.js' %}"></script>

<script>
  const dragDropFile = new DragDropFile("drop-frame");
  dragDropFile.setDropCallback(onDropFileLoaded);

  dragDropFile.dropContent.innerHTML += `{% include "converter/box_file.html" with id="box-file-h5" type="H5" %}`;
  dragDropFile.dropContent.innerHTML += `{% include "converter/box_file.html" with id="box-file-json" type="JSON" %}`;

  const boxFileH5Obj = new BoxFile("box-file-h5");
  const boxFileJsonObj = new BoxFile("box-file-json");

  // setDownloadContent("Hello World");  

</script>
{% endblock %}